.like {
  position: absolute;
  z-index: 1;
  display: inline-block;
  top: 20px;
  left: 85%;
  transition: all 500ms;
  font-size: 20px;
}

.like:hover {
  cursor: pointer;
  color: red;
  font-size: 22px;
}
