.header {
  background: #fff;
}

.logo {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5em 1em;
  font-size: 24px;
  font-family: "Lobster";
}

.content {
  margin: 10px 50px;
}

.container {
  height: 100%;
  min-height: 500px;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  background: #fff;
}